# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
.venv/
venv/
env/

# Ignore dotenv files (local secrets)
.env

# Ignore Streamlit secrets (cloud secrets)
.streamlit/secrets.toml


